__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

*.pth
*.pt
*.ckpt

gan/data/
gan/checkpoints/
gan/outputs/
gan/results/
gan/monitor/

fne/train/
fne/val/
fne/test/
fne/test_results/
fne/*.pth
fne/*.jpg

dataset_split_info.json
.DS_Store
Thumbs.db
